.header {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-inline-start: 1.5rem;
   padding-inline-end: 1.5rem;
   padding-block-start: 1.5rem;
}

.box-auxiliary-2 {
   display: none;
}

.header__title {
   margin: 0;
   font: var(--body-mob-1);
}

.header__title a {
   color: var(--primaryColor);
   text-decoration: none;
}

.header__title img {
   vertical-align: middle;
}

.header__title span {
   color: var(--blackColor);
}

.header__btn {
   inline-size: 22px;
   text-align: center;
   cursor: pointer;
   z-index: 2;
}

.header__btn i {
   vertical-align: middle;
}

#menu {
   display: none;
}

#menu:checked ~ .menu {
   transform: translateX(0);
}

#menu:checked ~ .header__btn i:before {
   content: "\e900";
   color: var(--whiteColor);
}

.menu {
   position: fixed;
   top: 0;
   right: 0;
   transform: translateX(100%);
   display: flex;
   justify-content: center;
   align-items: center;
   inline-size: 100vw;
   block-size: 100vh;
   background-color: var(--primaryColor);
   transition: all 500ms ease;
   will-change: opacity, transform;
   z-index: 1;
}

.menu__list {
   display: flex;
   flex-direction: column;
   gap: 2.375rem;
   margin: 0;
   padding: 0;
   list-style: none;
}

.menu__link {
   color: var(--whiteColor);
   font: var(--body-mob-5);
   text-decoration: none;
}


@media screen and (min-width: 641px) {
   .header {
      padding-inline-start: 1.5rem;
      padding-inline-end: 1.5rem;
      padding-block-start: 2.3125rem;
   }

   .box-auxiliary-1 {
      display: none;
   }

   .box-auxiliary-2 {
      display: block;
      inline-size: 8.125rem;
   }

   .menu {
      position: initial;
      transform: translateX(0);
      inline-size: initial;
      block-size: initial;
      background-color: transparent;
   }

   .menu__list {
      flex-direction: initial;
   }

   .menu__link {
      color: var(--blackColor);
      font: var(--body-5);
   }

   .header__btn {
      display: none;
   }
}