.playing__btn {
   inline-size: 2.75rem;
   block-size: 2.75rem;
   background-color: var(--lightBlueColor);
   border-radius: 50%;
   border: none;
   cursor: pointer;
}

.playing__btn i {
   position: relative;
   top: 1px;
   left: 2px;
   color: var(--whiteColor);
}

.playing__text {
   font: var(--body-6);
}

@media screen and (min-width: 1280Px) {
   .playing {
      position: absolute;
      bottom: 0;
   }
}